<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Zgłoś recenzję</h1>

    <form method="POST">

        <label for="report">Treść zgłoszenia</label>
        <br>
        <textarea name="report"
                  placeholder="Tresc zgloszenia"
                  rows="15"
                  cols="60"
                  >{{ request.form['report'] }}</textarea>
        <br>
        <button type="submit">Wyślij zgłoszenie</button>

    </form>
</body>
</html>