aiohttp
aiosignal
applicationinsights
async-timeout
attrs
azure-core
azure-functions
azure-identity
certifi
cffi
charset-normalizer
colorama
contourpy
cryptography
cycler
dill
fonttools
frozenlist
idna
kiwisolver
matplotlib
mpmath
msal
msal-extensions
multidict
numpy
oauthlib
openai
packaging
pbr
Pillow
ply
portalocker
psutil
pycparser
PyJWT
pyparsing
python-dateutil
qiskit
qiskit-terra
requests
requests-oauthlib
rustworkx
schedule
scipy
six
stevedore
sympy
tqdm
typing_extensions
urllib3
yarl
flask_oauthlib
